<div class="outer">
    <div class="container" style="margin-left:720px  ;">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white" >
                    <div class="panel-body pt-3" style="padding-left: 120px;">
                        <div class="card" style="width: 18rem;">
                            <a href=""  routerLink="/login"><img src="assets/patient_2.png" class="card-img-top" alt="..." style="width:200px ; height:auto"></a>
                            <div class="card-body">
                              <h5 class="card-title">Patient</h5>
                            </div>
                          </div>
                          <div class="card" style="width: 18rem;">
                           <a href=""><img src="assets/doctor.jpg" class="card-img-top" alt="..." style="width:200px ; height:auto"></a> 
                            <div class="card-body">
                              <h5 class="card-title">Mediacal Staff</h5>
                            </div>
                          </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

