<div class="outer">
    <div class="container" style="margin-left:720px  ;">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white" >
                    <div class="panel-heading">
                        <img src="assets/patient.png" style="width:200px; height: auto" alt="">
                        <h3 class="pt-3 font-weight-bold">Personal Registeration</h3>
                    </div>
                    <div class="panel-body pt-3">
                        <form [formGroup]="addForm" novalidate class="form" >
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <input type="text" formControlName="doctor_name" placeholder="Name" id="doctor_name">
                                </div> 
                            </div>
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <input type="text" formControlName="doctor_surname" placeholder="Surname" id="doctor_surname">
                                </div> 
                            </div>
                            <div class="form-group pt-3">
                                <div class="input-field" style="border:0cm" >
                                    <input type="date" placeholder="Date Of Birth" formControlName="doctor_date_of_birth" id="doctor_date_of_birth">
                                </div> 
                            </div>
                        
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <input type="text" placeholder="National Id" formControlName="doctor_national_id" id="doctor_national_id">
                                </div>
                            </div>
                            
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <input type="text" placeholder="Phone Number" formControlName="doctor_phone_number" id="doctor_phone_number">
                                </div> 
                            </div>
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <input [type]="type" placeholder="Password" formControlName="doctor_password" id="doctor_password">
                                    <span (click)="hideShowPass()" [class]="fa"></span>
                                </div> 
                            </div>
                            <div class="form-group pt-3"> Gender:
                                
                                <select class="form-select" aria-label="Default select example" formControlName="doctor_gender" >
                                    
                                    <option value="0">Male</option>
                                    <option value="1">Female</option>
                                    
                                  </select>
                        </div>
                            
                            <button type="submit" class="btn btn-primary btn-block mt-4 w-100" (click)="submitForm()">Sign Up</button>
                            <div class="text-center pt-4 text-muted">Already have account ?
                                <a id="forget" routerLink="/personelLogin" >Log In</a>
                            </div>

                        
                        
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

